@import '~shineout/dist/theme.shineout.css';

.app{
  display: flex;
  width: 100%;
}
.app .right{
  width: calc(100% - 200px);
}

.app .content {
  padding: 20px;
  background: #f2f2f2;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 60px);
}